/* Write your CSS code here */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-heading {
    color: #000000;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bold;
}