/* Write your CSS code here */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-heading {
    color: #000000;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bold;
}

.login-button {
    color: #000000;
    font-family: "Roboto";
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 6px;
    margin: 10px;
}